* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 100px; */
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  width: 100vw;
}

/* Section Classes */

/* hero-section */
.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
}

.hero-div {
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-left-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background: linear-gradient(to left, #06231d, #0c342c, #045141); */
}

.hero-left-container h1 {
  font-family: "Great Vibes", cursive;
  font-size: 7rem;
  color: #ffffff;
  font-weight: normal;
  margin-top: 100px;
}

.hero-left-container p {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 2;
  opacity: 0.7;
}

.hero-left-container button {
    margin-top: 50px;
    height: 50px;
    border-radius: 25px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.hero-left-container button:hover {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.hero-right-container {
  height: 100%;
  display: flex;
  flex: 1;
  background-image: url(src/images/natural_beauty.jpg);
  background-size: cover;
  background-position: center;
}

/* flowers-section */
.flowers-section {
  height: 200vh;
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
}

.flowers-section h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: #ffffff;
  font-weight: normal;
}

.flowers-header-container {
  width: 100vw;
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.flowers-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flowers-container {
  padding-top: 50px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flower-card {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.flower-card img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #ffffff;
}

.flower-card h1 {
  font-family: 'Great Vibes', cursive;
}

.flower-card p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  line-height: 2;
  color: #ffffff;
  opacity: 0.7;
  margin: 0;
}


/* customer-review-section */
.customer-review-section {
  height: 100vh;
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
}

.customer-review-section h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: #ffffff;
  font-weight: normal;
}

.customer-review-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.customer-review-lower-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex: 8;
  justify-content: space-evenly;
  /* background-color: #ffffff; */

}

.customer-header-container {
  width: 100vw;
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.customer-review-card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  /* background-color: #ffffff; */
  border-radius: 25px;
  text-align: center
}

.customer-review-card h1 {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: bold;
}

.customer-review-card p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0;
}

.customer-review-card img {
  border: 5px solid #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  border-radius: 50%;
}

.star-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}

/* about-section */
.about-section {
  height: 100vh;
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
}

.about-section h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: #ffffff;
  font-weight: normal;
}

.about-div {
    height: 100%;
    display: flex;
}

.about-left-container {
    height: 100%;
    display: flex;
    justify-content: right;
    flex: 6;
    flex-direction: column;
    justify-content: right;
}

.about-left-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.about-left-button-container button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    border-radius: 25px;
    margin-right: 50px;
    margin-top: 30px;
    height: 50px;
    width: 30%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 1.1rem;
}

.about-left-button-container button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
}

.about-left-header-container {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    justify-content: right;
    text-align: right;
}

.about-left-header-container h1, p {
    margin-right: 50px;
}

.about-left-header-container p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 2;
    opacity: 0.7;
}

.about-right-container {
    display: flex;
    flex: 4;
    background-image: url("src/images/about_image.jpg");
    background-position: center;
    background-size: cover;
}

/* contact-us-section */
.contact-us-section {
  height: 100vh;
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
}

.contact-us-section h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: #ffffff;
  font-weight: normal;
}

.contact-us-div {
    height: 100%;
    width: 100%;
    display: flex;
}

.contact-us-left-container {
    height: 100%;
    display: flex;
    flex: 6;
    background-image: url("src/images/flowers_background.jpg");
    background-size: cover;
}

.contact-us-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.contact-us-header-image {
    display: flex;
    height: 100%;

}

.contact-us-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.contact-us-header-container h1 {
    color: #06231d;
    font-family: "Great Vibes", cursive;
    margin-top: 20px;
}

.contact-us-header-container p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}


.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}


.contact-form input {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    box-sizing: border-box;
}

#text-area {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000000;
    padding-left: 25px;
    padding-top: 20px;
    box-sizing: border-box;
    resize: none;
}

.contact-form button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #0c3e38;
    border: none;
    color: #ffffff;
}

.contact-form button:hover {
    background-color: #ffffff;
    border: 2px solid #0c3e38;
    color: #0c3e38;
    cursor: pointer;
}

/* Classes */

.hero-header-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
}

/* Navigation */
.nav-container {
  height: 80px;
  width: 100%;
  position: fixed;
  /* background: linear-gradient(to left, #06231d, #0c342c, #076653); */
}

.nav-bar {
  height: 100%;
  display: flex;
  padding-left: 25px;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
  /* justify-content: space-between; */
}

.nav-bar a {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
}

.logo-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo-container a {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: #ffffff;
}

.links-container {
  display: flex;
  gap: 40px;
  padding-right: 25px;
  object-position: center;
}
