* {
  margin: 0;
  padding: 0;
}

.main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-image: url("src/images/green_flowers.jpg"); */
  /* background-color: #83b164; */
  background: linear-gradient(to left, #06231d, #0c342c, #076653);
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 60%;
  display: flex;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
}

.left-div {
  display: flex;
  flex-direction: column;
  height: 90vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right-div {
  height: 90vh;
  flex: 1;
}

.right-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* LOGIN FORM */
.login-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box img {
  width: 40%;
}

.login-box h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  color: #002f03;
  text-align: left;
}

.login-box h3 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #002f03;
}

.login-box p {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  text-align: center;
}

.login-box input {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding-left: 25px;
  font-size: 1rem;
  box-sizing: border-box;
}

.sign-in {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to right, #06231d, #0c342c, #076653);
  font-weight: bolder;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  margin-bottom: 20px;
}

.sign-in:hover {
  background-color: white;
  color: #cecece;
  border: 2px solid #002f03;
}

.sign-up {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border: none;
}

.sign-up:hover {
  color: #005606;
}
